<%- include('partials/header') %>
<body style=" height: 100vh;  background-image: url('https://wallpapercave.com/dwp1x/wp9715626.jpg'); background-repeat: no-repeat; background-size: cover;">
  <nav class="navbar bg-warning w-100 d-flex justify-content-between align-items-center">
    <div class="text-black ">
      <h2>Admin Panel</h2>
    </div>
    <div class="sub-nav">
      <form action="/adminlogin/adminlogout" method="GET">
        <button type="submit" class="btn btn-success rounded-pill text-white mx-3">Logout</button>
      </form>
    </div>
  </nav>
  

        <main class="index pt-5" id="admaindiv">
          <!-- <div class="container search"> -->

        
 <!-- </div> -->
  

 <div class="tbl container">

  <div class="option d-flex align-items-center justify-content-between  mb-3 ">
    <form action="/adminlogin/search" method="post" name="name">
      <div class="input-group">
        <div class="form-outline d-flex m-auto">
          <input type="search" class="form-control " name="search" placeholder="Search" required>
              <button id="search-button" type="submit" class="btn btn-primary mx-2">
                
<lord-icon
  src="https://cdn.lordicon.com/xfftupfv.json"
  trigger="hover"
  colors="primary:#fff"
  style="width:25px;height:20px"
  >
</lord-icon>
          </button>
        </div>
      </div>
    </form>
    <a href="/adminlogin/add" class="btn-outline-primary  p-2 rounded">
      <i class="fa-solid fa-plus fa-beat fa-2xl" style="color: #ffffff;"></i>
</a>
</div>


  <table class="table table-info container table-bordered my-0 mx-auto">
    <thead>
  
        <tr>
            <th class="table-primary" scope="col">No.</th>
            <th class="table-primary" scope="col">Name</th>
            <th class="table-primary" scope="col">Email</th>
            <th class="table-primary" scope="col">Edit</th>
            <th class="table-primary" scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <% let i = 0; %>
        <% useData.forEach((x)=>{ %>
            <tr>
                <td>
                    <%=++i%>
                </td>
                <td>
                    <%=x.name%>
                </td>
                <td>
                    <%=x.email%>
                </td>
                <td>
                    <a href="/adminlogin/edit/<%-x._id%>" class="text-white">
                      <i class="fa-solid fa-pen-to-square fa-beat fa-xl" style="color: #000000;"></i>
                    </a>
                </td>
                <td>
                    <a href="/adminlogin/delete/<%-x._id%>" class="text-white"
                        onclick="return confirm('Do you want to Remove <%-x.username%> ?')">
                        <i class="fa-solid fa-trash fa-beat fa-xl" style="color: #000000;"></i>
                      </a>
                </td>
            </tr>
            <% }) %>
  </table>
 </div>
</body>
</main>

    
<%- include('partials/footer')%>