<%- include('partials/header') %>
<body>
  <div class="main bg-success d-flex " style="height: 65px; align-items: center;">
    <div class="left-section d-flex justify-content-start ml-3" style="width: 40%;">
      <h2 class="text-white">Flipkart</h2>
    </div>
    <div class="right-section d-flex justify-content-end mr-3 " style="width: 60%;">
      <form action="/userlogout" method="get">
        <button type="submit" class="btn-primary rounded-pill px-3 font-weight-bold  ">Logout</button>
      </form>
    </div>
  </div>


  
  <div class="container">
    <div class="row mt-5">
        <% for (let i=0; i<mobile.length; i++) { %>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="<%= mobile[i].Image %>" class="card-img-top" width="" height="250px">
                    <div class="card-body">
                        <h5 class="card-title text-danger"><%= mobile[i].Brand %></h5>
                        <p class="card-text"><%= mobile[i].Model %></p>
                        <p class="card-text text-dark"><%= mobile[i].Price %></p>
                        <a href="https://www.amazon.in/" class="btn btn-success rounded-pill">Add To Cart</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>







  <!-- 
  <div class="mainhead">
  <div class="row">
    <div class="col-12 col-lg-4 yasim" id="colone"><img src="" alt=""></div>
    <div class="col-12 col-lg-4 yasim" id="coltwo"></div>
    <div class="col-12 col-lg-4 yasim" id="colthree"></div>
</div>
<div class="row">
    <div class="col-12 col-lg-4 yasim" id="colfour"></div>
    <div class="col-12 col-lg-4 yasim" id="colfive"></div>
    <div class="col-12 col-lg-4 yasim" id="colsix"></div>
</div>
<div class="row">
    <div class="col-12 col-lg-4 yasim" id="colseven"></div>
    <div class="col-12 col-lg-4 yasim" id="coleight"></div>
    <div class="col-12 col-lg-4 yasim" id="colnine"></div>
</div>
</div> -->
</body>
<%- include('partials/footer')%>
